<div class="col-xs-12 col-sm-12 col-md-12">
    <div class="activity-card">
      <div class="index-activity">
        <p class="number"><%= s %></p>
      </div>
      <div class="right-part">
        <div class="activity-category">
          <% if activity.category.nil? %>
            <i class="fas fa-globe-americas"></i>
          <% else %>
            <%= symbol(activity.category) %>
          <% end %>
          <div class="meeting-point" style="display: inline-block;">
            <% if activity.meeting_point %>
              <i class="fas fa-flag"></i>
            <% else %>
              <i class="fas fa-shoe-prints"></i>
            <% end %>
          </div>
        </div>

        <div class="activity-name">
          <p><%= activity.name %></p>
        </div>
      </div>


    </div>
</div>
