<div class="col-xs-12 col-sm-12 col-md-12">

  <div class="activity-and-number">
    <div class="index-activity">
        <p class="number">1</p>
    </div>

    <div class="activity-card">

      <div class="meeting-point">
        <i class="fas fa-flag"></i>
      </div>
      <div class="activity-category">
        <i class="fas fa-globe-americas"></i>
       <!--  <p><%#= activity.category %></p> -->
      </div>
      <div class="activity-name">
        <p><%= activity.name %></p>
      </div>
      <div class="see-activity">
        <%= link_to '<i class="fas fa-eye"></i>'.html_safe, tour_path %>
      </div>

    </div>
  </div>

</div>
