<div class="col-xs-12 col-sm-12 col-md-6">
  <%= link_to tour_path(tour) do %>
  <div class="tour-card">
    <div class="group-category">
      <i class="fas fa-map"></i>
    </div>
    <div class="group-name">
      <p><%= tour.name %></p>
    </div>
    <div class="group-dates">
      <p>200000</p>
    </div>
  </div>
  <% end %>
</div>
