// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$orange-rub: #FF9363;
$pink-rub: #FF929A;
$green: #32B796;
$gray: #000000;
$light-gray: #f2f2f2;
