body.invitations.accept{
  background-color: $light-gray;
  background-repeat: no-repeat;
  // background-image: linear-gradient(rgba(107, 94, 229, 0.7) 0%,  $purple 20%);
  background-size: cover;
  height: 100vh;

  h1{
    margin-top: 40px;
    font-weight: 500;
    color: black;
  }

  h4{
    margin-top: 20px;
    color: black;
    margin-bottom: 40px;
    opacity: 0.6;
  }
}




