
body.pages.home{
  background-color: $light-gray;
  background-image: linear-gradient(rgba(107, 94, 229, 0.7) 0%,  $purple 20%);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10vh;

  #flash-alert{
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }

  .disappear{
    transition: opacity 0.3s;
    opacity: 0;
  }

}
.form-section{

  input{
    border: none;
  }

  .form-login{
    // box-shadow: 1px 1px 10px $light-gray;
      background-color: rgba(0, 0, 0, 0);
      box-shadow: none;
      p{
        color: white;
        font-family: 'Poppins';
        text-transform: uppercase;
      }
  }
  label{
    font-weight: 300;
    color: white;
    font-weight: 400;
  }
  .form-control{
    box-shadow: none !important;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
  }

  .title img{
    width: 150px;
  }
}

.title{
  margin-top: 10%;
  text-align: center;
  color: white;
  h1{
    font-weight: 500;

  }
  h4{
    opacity: 0.7;
  }
}


.login-link{
  color: white;
  text-decoration: none;
}
