<% notice = "Amir welcomes you." %>
<% if notice %>
  <div class="alert alert-info alert-dismissible" role="alert" id="flash-alert">
    <% if notice == "Amir welcomes you." %>
      <i class="fas fa-door-open"></i>
    <% end %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>

    <script>
      setTimeout(() => {
       document.querySelector("#flash-alert").classList.add("disappear")
      }, 3000);
    </script>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= alert %>
  </div>
<% end %>
