<footer>
  <div class="tab one">
    <button class="tablinks" onclick="openCity(event, 'London')">London</button>
  </div>
  <div class="tab two">
     <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
  </div>
  <div class="tab three">
    <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
  </div>
</footer>

<script src="tab.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

