
<% if flash[:invitations_sent] %>
    <div class="notice">Sent!</div>
<% end %>

<div class="title-add">
  <h3>Tours</h3>
  <%= link_to 'Create'.html_safe, new_tour_path(@tour), class: 'amir-btn buttons-amir' %>
</div>

<div class="row">


  <% @tours.each do |tour| %>
<!--   <div class="wrapper-row"> -->
    <%#= link_to "", tour_path(tour) %>
    <%= render "components/card", tour: tour %>
 <!--  </div> -->
  <% end %>

</div>











