<!-- <footer>
  <div class="tab one">
    <div class="tablinks col-xs-4" onclick="openCity(event, 'London')">London</div>
  </div>
  <div class="tab two">
     <div class="tablinks col-xs-4" onclick="openCity(event, 'Paris')">Paris</div>
  </div>
  <div class="tab three">
    <div class="tablinks col-xs-4" onclick="openCity(event, 'Tokyo')">Tokyo</div>
  </div>
</footer>

<script src="tab.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

 -->
