<div class="banner">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 text">
      <h1>GUIDE TOURS EASILY</h1>
      <p>Share the itinerary with visitors. Locate them while visiting</p>
    </div>
    <div class="col-xs-12 col-md-4 form">
      <%= render "shared/signup" %>
  </div>
  </div>
</div>
</div>
