/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: black;
  font-weight: bold;
  border: none !important;
  background-color: rgba(0, 0, 0, 0);
}
.alert-info {
  // background: transparent;
  background-color: rgba(0, 0, 0, 0);
}
.alert-warning {
  background: $red;
}
