.amir-btn{
  font-size: 13px;
  background-color: $purple;
  padding: 10px 15px;
  color: white;
  font-weight: 400;
  text-decoration: none;
  transition: 0.2s;
  border-radius: 4px;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}


.round-btn{
  border-radius: 50%;
}


.amir-btn:hover{
  text-decoration: none;
  color: white;
}

.amir-btn:active /* Quand le visiteur clique sur le lien */
{
  padding: 12px 17px;
  opacity: 0.5;
}



.simple-link{
  padding: 3px 5px;
  border: 1px solid black;
  text-transform: uppercase;
  color: black;
  font-weight: 300;
  text-decoration: none;
  font-size: 12px;
  transition: 0.3s;
  cursor: pointer;
}

.simple-link:hover{
  text-decoration: none;
  background-color: black;
  color: white;
}


.simple-link:active /* Quand le visiteur clique sur le lien */
{
  padding: 6px 10px;
  background-color: #FFCC66;
}

