.amir-btn{
  font-size: 13px;
  background-color: $purple;
  padding: 10px 15px;
  color: white;
  font-weight: 400;
  text-decoration: none;
  transition: 0.2s;
  border-radius: 4px;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}


.simple-link{
  color: #999999;
  font-weight: 300;
  text-decoration: underline;
}

.simple-link:hover{
  text-decoration: underline;
  color: #999999;
  font-weight: 300;
}


.round-btn{
  border-radius: 50%;
}


.amir-btn:hover{
  text-decoration: none;
  color: white;
}

.amir-btn:active /* Quand le visiteur clique sur le lien */
{
  padding: 12px 17px;
  opacity: 0.5;
}
