.wrapper-row {
  position: relative;
  a {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}
.tour-card{
  box-shadow: 0px 2px 1px $light-gray;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3%;
  padding: 2% 1%;
  cursor: pointer;
}
.tour-name{
  font-weight: 400;
}

.tour-date{
  font-size: 11px;
}

.see-tour{
  color: $light-gray;
}



.activity-card{

}






@media screen and (max-width: 640px) {
  .tour-card {
    margin-bottom: 5%;
  }

  .group-name{
    font-size: 10px;
  }

  .tour-name-and-group{
  font-size: 14px;
  flex: 0 0 35%;
  }
}
