.tour-category{
  flex: 0 0 10%;
  i{
    font-size: 30px;
    color: blue;
    opacity: 0.3;
  }
}

.tour-name{
  flex: 0 0 50%;
  p{
    font-size: 17px;
    color: $light-purple;
    font-weight: 500;
    line-height: 1.5;
  }
}

.group-name{
  flex: 0 0 50%;
  p{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    line-height: 0.9;
  }
}

.tour-dates{
  flex: 0 0 15%;
  p{
    font-size: 10px;
    color: gray;
  }
}
.active-tour{
  flex: 0 0 10%;
  p{
    font-size: 15px;
    color: red;
    text-decoration: none;
    font-weight: bold;
    -webkit-animation-name: neon-title;
    -webkit-animation-duration: 1s;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
  }
}

@-webkit-keyframes neon-title {
  0%, 10%, 80%, 100%   { font-weight: bold; }
  5%, 95% { font-weight: 400; }
}


