body.users.show{
  background-color: white;
  p{
    margin: 0;
  }

  a:hover{
    text-decoration: none;
  }
}

.title-page{
  text-transform: capitalize;
  color: $purple;
  font-weight: 600;
}


.profil-section{
  height: 35vh;
  background-image: linear-gradient(to right bottom,#7d61d7, #e16e8a, #f47579, #fb936a);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .user-name{
    color: white;
  }
}

.info{
  text-align: center;
}

.tours-section{
  padding: 6% 0 0 0;

}

.tour-card{
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.08), 0 7px 14px 0 rgba(49,49,93,0.1);
  border-radius: 8px;
  padding: 16px 0;
  display: flex;
  min-height: 100px;
  transition: 0.3s;
}

.tour-card:hover{
  box-shadow: 0 1px 0px 0 rgba(0,0,0,0.08), 0 7px 14px 0 rgba(49,49,93,0.1);;
}

#purple-background{
  background-color: $purple;
  color: white;
}

// Moved to _tour_card

// .group-category{
//   flex: 0 0 10%;
//   i{
//     font-size: 30px;
//     color: blue;
//     opacity: 0.3;
//   }
// }

// .group-name{
//   flex: 0 0 50%;
//   p{
//     font-size: 17px;
//     color: $light-purple;
//     font-weight: 300;
//     line-height: 1.5;
//   }
// }

// .group-dates{
//   flex: 0 0 10%;
//   p{
//     font-size: 10px;
//     color: gray;
//   }
// }


























