body.users.show{
  background-color: white;
  p{
    margin: 0;
  }

  a:hover{
    text-decoration: none;
  }

  #flash-alert{
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    line-height: 0.9;
  }

  .disappear{
    transition: opacity 0.3s;
    opacity: 0;
  }


  i.fas.fa-sign-out-alt{
    color: white;
  }
}

.title-page{
  text-transform: capitalize;
  color: $orange;
  font-weight: 600;
  margin: 6% 0;
  padding-left: 5%;
}


.profil-section{
  padding: 12% 0;
  height: 35vh;
  background-image: linear-gradient(to right bottom, #e16e8a, #f47579, #fb936a);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .user-name{
    color: white;
  }
  padding-top: 15%;
}

.info{
  text-align: center;
}

.tours-section{
  padding: 6% 0 0 0;

}

.tour-card{
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.08), 0 7px 14px 0 rgba(49,49,93,0.1);
  border-radius: 8px;
  padding: 16px 0;
  display: flex;
  min-height: 100px;
  transition: 0.3s;
}

.tour-card:hover{
  box-shadow: 0 1px 0px 0 rgba(0,0,0,0.08), 0 7px 14px 0 rgba(49,49,93,0.1);;
}

#purple-background{
  background-color: $purple;
  color: white;
}


.create-button-section{
  text-align: center;
  margin-bottom: 10%;
}


@media screen and (max-width: 640px) {
  .profil-section{
    padding: 45% 0;
  }

}
